@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
  margin: 0;
  display: grid;

  /* '.' means empty area */
  /*areas row-height /columns: 1fr 5fr 2fr 1fr */

  grid-template:
    /* sto ce biti u 1. redu - samo header */
    "header header header header" 10em
    "hero hero hero hero" 50vh
    /* sto ce biti u 3. redu - prazno-main-sidebar-prazno */
    ". main sidebar ." auto
    "footer footer footer footer" 10em
    / 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;

  grid-column-gap: 1.5em;
}

header {
  grid-area: header;
}
.hero {
  grid-area: hero;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
  background: #e8e8e8;
  padding: 2em;
}
footer {
  grid-area: footer;
}



header,
footer {
  background: #252525;
  color: #e9d20f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title,
.footer-title {
  font-family: "Six Caps", sans-serif;
  font-size: 2.875rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.hero-title {
  font-family: "Six Caps", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}
.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}


/*
Card Grid area
*/
.card {
  display: grid;
  /*areas row-height /columns */
  grid-template:
    "img title" auto
    "img content" auto
    / 1fr 3fr;

  grid-column-gap: 1.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.card-img {
  grid-area: img;
  max-width: 100%;
}
.card-title {
  grid-area: title;
  margin: 0;
  font-weight: 300;
}
.card-content {
  grid-area: content;
}
.card-content a {
  color: #e9d20f;
  font-size: 1.1em;
}

/*
Header animation
*/
#header {
	width: 100%;
	margin: 0px auto;
	background-color: #000;
	background-image: url("../images/planet.png"), url("../images/star1.jpeg");
	background-position: 110% 10px, 0px 0px;
	background-repeat: no-repeat, repeat-x;
	animation: animate-background linear 50s infinite;
}
@keyframes animate-background {
	from { background-position: 110% 10px, 0px 0px }
	to { background-position: -20% 10px, -1000px 0px }
}

/*
Navigation Dots
*/
nav {
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 100;
}

nav a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: #000;
  text-decoration: none;
}

nav a:hover .nav-label {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

nav .nav-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #252525;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  width: auto;
  list-style: none;
}
